<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.np.mad_assignment">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Productivity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".healthUpload"></activity>
        <activity android:name=".healthFeed" />
        <activity android:name=".foodFeed" />
        <activity android:name=".wellnessUpload" />
        <activity android:name=".wellnessFeed" />
        <activity android:name=".foodUpload" />
        <activity android:name=".EditProfile" />
        <activity android:name=".Sidebar" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Categories" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".AchievementPage" />
        <activity android:name=".TaskPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpPage" />
        <activity android:name=".LoginPage" />
        <activity android:name=".UploadPhoto" />
    </application>

</manifest>